<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Repas Manado</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ (data.path == 'home') ? 'active' : ' '}}">
        <a class="nav-link" href="{{path_for('dash.home')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Features
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item {{ (data.path == 'market') ? 'active' : ' '}}">
        <a class="nav-link" href="{{path_for('dash.market')}}">
        <i class="fas fa-map-marker"></i>
        <span>Market</span></a>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{ (data.path == 'building') ? 'active' : ' '}}">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#buildingMenu"
            aria-expanded="true"
            aria-controls="buildingMenu"
        >
            <i class="far fa-building"></i>
            <span>Building</span>
        </a>
        <div id="buildingMenu" class="collapse  {{ (data.path == 'building') ? 'show' : ' '}}" aria-labelledby="headingBuildingMenu" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {{ (data.subpath == 'type') ? 'active' : ' '}}" href="{{path_for('dash.building.type')}}"> Type</a>
                <a class="collapse-item {{ (data.subpath == 'price') ? 'active' : ' '}}" href="{{path_for('dash.building.price')}}"> Price</a>
            </div>
        </div>
    </li>

    <li class="nav-item {{ (data.path == 'merchant') ? 'active' : ' '}}">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#merchantMenu"
            aria-expanded="false"
            aria-controls="collapseTwo"
        >
            <i class="fas fa-store"></i>
            <span>Merchant</span>
        </a>
        <div id="merchantMenu" class="collapse {{ (data.path == 'merchant') ? 'show' : ' '}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item {{ (data.subpath == 'owner') ? 'active' : ' '}}" href="{{path_for('dash.merchant.owner')}}">Owner</a>
            <a class="collapse-item {{ (data.subpath == 'building') ? 'active' : ' '}}" href="{{path_for('dash.merchant.building')}}">Building</a>
        </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
        <i class="fas fa-chart-line"></i>
        <span>Transaction</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->