{% extends "/template/base.twig" %}
{% block title %}Building Type{% endblock %}
{% block body_content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Building Types</h1>
            <a
                href="#"
                data-toggle="modal"
                data-target="#addType"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i>
                    Add new Type
                </a>
        </div>

        {% include '/template/partials/flash.twig' %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Building Type list ({{data.types|length}})</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="50">No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th width="200">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for type in data.types %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{type.title}}</td>
                                    <td>{{type.description}}</td>
                                    <td class="text-center">
                                        <a
                                            href="#"
                                            class="btn btn-success btn-icon-split btn-sm"
                                            data-toggle="modal"
                                            data-target="#editType"
                                            data-buildingtype="{{type.id}}"
                                        >
                                            <span class="icon text-white-50">
                                                <i class="fas fa-edit fa-sm text-white-55"></i>
                                            </span>
                                            <span class="text"> edit</span>
                                        </a>
                                        <a
                                            href="#"
                                            class="btn btn-danger btn-icon-split btn-sm"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            onclick="deleteData({{type.id}}, 'buildings/types')"
                                        >
                                            <span class="icon text-white-50">
                                                <i class="far fa-trash-alt fa-sm text-white-55"></i>
                                            </span>
                                            <span class="text"> delete</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    {% include '/merchants/building_type/add.twig' %}
    {% include '/merchants/building_type/edit.twig' %}

{% endblock %}